<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/index"><b><u>DataGorge <span class="sr-only">(current)</span></u></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNBAnavbar" aria-controls="myNBAnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNBAnavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/players"><b>Players </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams"><b>Teams </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gamestats"><b>Statistics </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games"><b>Games </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/positions"><b>Positions </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/players_positions"><b>Players_Positions</b></a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="myCustomHeader">Welcome to DataGorge: NBA Stats Database</h1>
<h5>&nbsp;&nbsp;You can navigate to the tables for the entities in our database above. They are described here: </h5>
<ul>
    <li>Players: This contains the NBA players chosen to be in our database. </li>
    <li>Teams: Teams in the NBA. </li>
    <li>Statistics: Single-game statistics for individual players. </li>
    <li>Games: Info for games between teams. </li>
    <li>Positions: All valid NBA positions. </li>
</ul>