<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>DataGorge </title>

    <!-- Bootstrap js/CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/nfs/stak/users/paula/CS340/testNewProject/340proj/express-mysql/views/layouts/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/nfs/stak/users/paula/CS340/testNewProject/340proj/express-mysql/views/layouts/css/bootstrap.css">
</head>
<body>
	{{{body}}}
</body>
</html>
